<section class="arProductGrid">
    <div class="arProductsGrid_inner">
        <h3 class="arPr_gridTtile">{{section.settings.title}}</h3>
        <div class="arPr_blocks">
            {%for block in section.blocks%}
                <div class="">
                    
                </div>      
            {%endfor%}
        </div>   
    </div>
</section>
{% schema %}
{
    "name": "ar Products Grid",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Tisso vison in the wild"
        },
        {
            "type": "product",
            "label": "Choose Gift Product",
            "id": "product"
        }

    ],
    "blocks":[
        {
            "type": "product",
            "name": "product",
            "settings": [
                {
                    "type": "product",
                    "label": "Choose Gift Product",
                    "id": "product"
                }
            ]
        }
    ],
    "presets":[
        {
            "name": "Ar Products Grid",
            "category": "Products"
        }
    ]
}
{% endschema %}