.arHeader_inner {
    padding: 10px 50px;background: #F5F5F5;
}
.arHeader_inner img {
    height: 19px;
    width: auto;
    display: flex;
}
button#mobToggle {
    display: none;
}
.arHeader_blocks {
    display: flex;
    align-items: center;
    min-height: 65px;
}
.arHeaderLogo_iconBlock {
    width: 33.33%;
}
.arHeadertext_btnBlock {
    display: flex;
    align-items: center;
    width: 66.67%;
    justify-content: space-between;
}
.arTextBlock {
    width: 50%;
    text-align: center;
}
.arHeader_blocks p {
    margin: 0;
    letter-spacing: normal;
    line-height: 1;
    color: #000;
    text-align: center;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.424px; /* 83.898% */
}
.arBTnBlock a {
    display: flex;
    text-decoration: none;
    width: 207px;
    height: 44px;
    background: #FFF544;
    color: #000;
    justify-content: center;
    align-items: center;
    letter-spacing: normal;
    color: #000;
    text-align: center;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.48px; /* 128% */
    text-transform: uppercase;
}
/* Hero Banner */
.arHeroBanner {
    position: relative;
}
.arHeroBanner img {
    width: 100%;
    max-height: calc(100vh - 120px);
    object-fit: cover;
    object-position: center left;
    display: flex;
}
.arHeroInfo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.arHeroInfoInner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-left: 55px;
}
.arHero_content {
    max-width: 483px;
    position: relative;
    bottom: 35px;
}
h1.arHeroTitle {
    color: #000;
    font-family: Jost;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 50px;
}
.arHero_content p {
    letter-spacing: normal;
    margin-top: 0;
    margin-bottom: 50px;
    color: #000;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.arHero_content a {
    display: flex;
    text-decoration: none;
    background: #000;
    max-width: 220px;
    height: 50px;
    justify-content: center;
    align-items: center;
    letter-spacing: normal;
    color: #FFF;
    text-align: center;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20.48px;
    text-transform: uppercase;
}
/* Bottom Bar Of hero section */
.arBottomBar p {
    margin: 0;
    text-align: center;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 50px;
    background: #F5F5F5;
    letter-spacing: normal;
    color: #000;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.424px; /* 83.898% */
}
/* Products Grid Section */
.arProductsGrid_inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 90px 50px 30px;
}
h3.arPr_gridTtile {
    margin-top: 0;
    margin-bottom: 30px;
    
    letter-spacing: normal;
    font-weight: bold;
    color: #000;
    font-family: Lustria;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 43.2px */
}
.arPr_blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.arPr_block {
    width: calc(33% - 12px);
}
.arPr_block img {
    width: 100%;
}
.arPrBlock_inner{position: relative;}
.arPrBlock_inner button {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}
/* Modal Styling */
.arProduct_modal {
    position: fixed;
    z-index: 99;
    top: 0;
    background: rgba(255,255,255,0.4);
    width: 100%;
    height: 100%;
    left: 0;
}
.arModal_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.modalContent {
    max-width: 311px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
    padding: 20px;
    gap: 8px;
    align-items: flex-start;
}
.arModal_blocks {
    display: flex;
    gap: 8px;
}
.arModal_image_block.arModalBlock {
    max-width: 120px;
}
.arModal_blocks img {
    width: 120px;
    height: 140px;
    object-fit: cover;
    object-position: center;
}
h4.arModal_prTitle {
    margin-top: 12px;
    margin-bottom: 20px;
    color: #000;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: normal;
}
p.modalPrice {
    margin: 0;
    margin-bottom: 12px;
    color: #000;
    font-family: Lustria;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: normal;
}
.modalDescription * {
    margin: 0;
    letter-spacing: normal;
    color: #000;
    font-family: Jost;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%;
    letter-spacing: -0.14px;
}